<div class="contacts-form">
  <h4>Add contact</h4>

  <form
    [formGroup]="form"
    (ngSubmit)="submitForm(form.value)"
    novalidate>

    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        placeholder="Enter name"
        autocomplete="off"
        formControlName="name">
      <div *ngIf="name.dirty && name.invalid">
        <small
          class="error"
          *ngIf="name.errors.required">This field is required</small>
        <small
          class="error"
          *ngIf="name.errors.minlength">This field must be 5 characters long</small>
        <small
          class="error"
          *ngIf="name.errors.maxlength">This field must be under 100 characters long</small>
      </div>
    </div>

    <div class="form-group">
      <label for="address">Address</label>
      <textarea
        id="address"
        class="form-control"
        rows="2"
        placeholder="Enter address"
        formControlName="address"></textarea>
      <div *ngIf="address.dirty && address.invalid">
        <small
          class="error"
          *ngIf="address.errors.required">This field is required</small>
        <small
          class="error"
          *ngIf="address.errors.maxlength">This field must be under 100 characters long</small>
      </div>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!form.valid">Submit</button>
  </form>
</div>


<div class="contacts-list">
  <h4>List contacts <span class="badge badge-secondary float-right">{{ allContacts.length }}</span></h4>

  <ul class="list-group">
    <ng-container *ngIf="allContacts.length; then thenBlock; else elseBlock"></ng-container>
    <ng-template #thenBlock>
      <li
        class="list-group-item  list-group-item-action flex-column align-items-start"
        *ngFor="let contact of allContacts">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ contact.name }}</h5>
          <small class="text-muted">
            <a
              class="destroy"
              (click)="destroyContact(contact.id)">Remove</a>
          </small>
        </div>
        <p class="mb-1">{{ contact.address }}</p>
      </li>
    </ng-template>
    <ng-template #elseBlock>
      There is not contact records...
    </ng-template>
  </ul>
</div>
